/* globals.css */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.poppins-text {
  font-family: var(--font-poppins), sans-serif; 
}

.philosopher-text {
  font-family: var(--font-philosopher), sans-serif; 
}

button:disabled {
  background-color: #cccccc; /* Light gray background */
  color: #666666; /* Gray text */
  cursor: not-allowed; /* Not-allowed cursor to indicate it's disabled */
  border: 1px solid #aaaaaa; /* Slightly darker gray border */
  opacity: 0.6; /* Make the button look faded */
}

::selection {
  background-color: #d05c65;
  color: #ffffff; 
}

html {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  overflow-x: hidden;
  background-color: #ead8d5;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
}

footer {
  padding: 1rem;
  background-color: #333;
  color: #fff;
  text-align: center;
  width: 100%;
}



/* Header styling */

.header {
  position: relative;
  width: 92%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;
  padding: 10px 20px;
  color: #2f4858;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease;
  z-index: 1000;
  top: 0;
}

.sticky {
  width: 100%;
  position: sticky;
  transform: translateY(0);
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.96);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 80px;
  margin-right: 10px;
}

.logo span {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Hamburger */
.hamburger {
  display: none;
  width: 30px;
  height: 24px;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2000;
  position: relative;
}

.hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
  transform-origin: center;
}

.hamburger.is-active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 10px);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -10px);
}

/* Navigation Links (Desktop Version) */
.nav {
  font-family: var(--font-poppins), sans-serif;
  font-weight: 200;
  display: flex;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: #333;
  transition: color 0.3s ease;
}

.nav ul li a:hover {
  color: #d05c65;
}


@media (max-width: 995px) {

  .hero-image-part {
    margin: 0px;
  }

  .nav {
    position: absolute; /* Position relative to the header */
    top: 100%; /* Place the menu right below the header */
    left: 0;
    right: 0;
    background-color: white;
    overflow: hidden; /* Hide overflow to allow smooth height transition */
    max-height: 0; /* Start with a collapsed height */
    opacity: 0; /* Start fully transparent */
    transition: max-height 0.5s ease, opacity 0.5s ease; /* Smooth transition */
  }

  .nav.open {
    max-height: 600px; 
    opacity: 1;
  }

  .hamburger {
    display: flex; 
  }

  .nav ul {
    height: fit-content;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 0px;
    padding-bottom: 25px;
    margin-left: 0px;
    padding-left: 25px;
  }

}
